<html>
  <head>
    <title>LEARN Component</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="LEARN.css" />
    <body>
      <div>
        <button id="myButton">Submit</button>
        <script>
          const btn = document.getElementById("myButton");
          btn.addEventListener("click", () => {
            alert("Button clicked!");
          });
        </script>
        <h1>Welcome to the LEARN Component</h1>
        <p>
          This is a sample LEARN component page. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Odio quos, alias aut, assumenda
          consectetur vitae ad cum sint maiores unde ipsum amet nulla adipisci.
          Esse culpa atque facere magni optio.lorem ipsum dolor sit amet
          consectetur adipisicing elit. Odio quos, alias aut, assumenda
          consectetur vitae ad cum sint maiores unde ipsum amet nulla adipisci.
          Esse culpa atque facere magni optio.
        </p>
      </div>
    </body>
  </head>
</html>
